.celldata{padding-left:4px;}
.cellheader{text-align:center;
    padding:5px;
}
.cellheader_sp{text-align:center;
    padding:10px;
}
.l_c{padding-top:40px;
    padding-left:4px;
}
.cellcenter{text-align:center;
}
.cell_att_doc{text-align:center;
    padding-top:20px;
}
