


.vessel_details{
    background: url(/_rsrc/pkg_shipsteps/icons/vessel_details.svg);
    height:16px;
    width:16px;
    background-size:contain;
}
.fda{
    background: url(/_rsrc/pkg_shipsteps/icons/fda.svg);
    height:16px;
    width:16px;
    background-size:contain;
}
.cargo_vessel{
    background: url(/_rsrc/pkg_shipsteps/icons/cargo_vessel.png);
    height:16px;
    width:16px;
    background-size:contain;
}
.cargo_loading{
    background: url(/_rsrc/pkg_shipsteps/icons/cargo_loading.svg);
    height:16px;
    width:16px;
    background-size:contain;
}
.shifting{
    background: url(/_rsrc/pkg_shipsteps/icons/shifting.svg);
    height:16px;
    width:16px;
    background-size:contain;
}
.email{
    display: inline-block;
    width:16px;
    height:16px;
    background:url(/_rsrc/pkg_shipsteps/icons/email_address.svg) center center no-repeat;
    background-size:contain;
    flex-shrink:0;
    float: left;
}
.sof{
    background: url(/_rsrc/pkg_shipsteps/icons/sof.svg);
    height:16px;
    width:16px;
    background-size:contain;
}
.clock{
    background: url(/_rsrc/pkg_shipsteps/icons/clock.svg);
    height:16px;
    width:16px;
    background-size:contain;
    float: left;
}
.whatsapp{
    background: url(/_rsrc/pkg_shipsteps/icons/whatsapp.svg);
    height:16px;
    width:16px;
    background-size:contain;
    float: left;
}
.printer{
    display: inline-block;
    width:16px;
    height:16px;
    background:url(/_rsrc/pkg_shipsteps/icons/printer.svg) center center no-repeat;
    background-size:contain;
    flex-shrink:0;
    float: left;
}
.water{
    display: inline-block;
    width:16px;
    height:16px;
    background:url(/_rsrc/pkg_shipsteps/icons/water.svg) center center no-repeat;
    background-size:contain;
    flex-shrink:0;
    float: left;
}
.document{
    display: inline-block;
    width:16px;
    height:16px;
    background:url(/_rsrc/pkg_shipsteps/icons/document.svg) center center no-repeat;
    background-size:contain;
    flex-shrink:0;
    float: left;
}
.pax{
    display: inline-block;
    width:16px;
    height:16px;
    background:url(/_rsrc/pkg_shipsteps/icons/pax.svg) center center no-repeat;
    background-size:contain;
    flex-shrink:0;
    float: left;
}
.crew{
    display: inline-block;
    width:16px;
    height:16px;
    background:url(/_rsrc/pkg_shipsteps/icons/crew.svg) center center no-repeat;
    background-size:contain;
    flex-shrink:0;
    float: left;
}
.tax{
    display: inline-block;
    width:16px;
    height:16px;
    background:url(/_rsrc/pkg_shipsteps/icons/tax.svg) center center no-repeat;
    background-size:contain;
    flex-shrink:0;
    float: left;
}
.truck{
    display: inline-block;
    width:16px;
    height:16px;
    background:url(/_rsrc/pkg_shipsteps/icons/truck.svg) center center no-repeat;
    background-size:contain;
    flex-shrink:0;
    float: left;
}
